/* Reset */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Debug */
.debug .header-top {
    background-color:  #add8e6;
}
.debug .nav-bar {
    border: 1px dashed black;
    background-color: #daa520;
}
.debug .header-bottom {
    background-color: #00008b;
}
.debug .link {
    border-left: 1px dashed black;
    border-right: 1px dashed black;
}
.debug .box-pink {
    background-color: #ee82ee;  
    height: 400px; 
    border: 1px dashed black;
}
.debug .box, .box-green{
    border: 1px dashed black;
}
.debug .second-section .col2 {
    border-right: 1px dashed black;
}
.debug .col1 {
    background-color: #1e90ff;
    border-right: 1px dashed black;
}
.debug .col2 {
    background-color: #ffc0cb ;
}
.debug .fourth-section > .box-green {
    height: 930px;
    background-color: #228b22;
}
.debug footer {
    background-color: #23272a;
}
.debug .container{
    border: 1px dashed black;
    height: 600px;
}
.debug .col-left {
    height: 100%;
    background-color: #f08080;
    border-right: 1px dashed black;
}
.debug .col-right {
    background-color: #12ada5;
    height: 100%;
    border: 1px dashed white;
}
.debug .mini-col {
    border: 1px dashed white;
}
.debug .nav-bottom {
    background-color: #7fffd4;
}
.debug .logo-bottom, .button-bottom {
    background-color: #ffb6c1;
    border: 1px dashed black;
}
/* Common */
.logo, .link, .login {
    padding: 10px;
}
.header-bottom, .first-section, .second-section, .third-section, .fourth-section, .container {
    display: flex;
    justify-content: center;
    align-items: center;  
}
.second-section, .fourth-section {
    background-color: #d3d3d3 ;
}
.first-section, .second-section, .third-section {
    height: 620px;
}


/* Header */
.header-top {
    display: flex;
    flex-direction: row;
}
.nav-bar {
    display: flex;
    width: 1200px;
    margin: 15px auto;
    justify-content: space-between;   
}
.link {
    width: 750px;
    text-align: center;
}
.header-bottom{
    height: 500px;
}
.box-pink {
    width: 930px;
}
/* Main */

.box {
    width: 1200px;
    height: 510px;
    display: flex;
}
.col1 {
    width: 740px;
}
.col2 {
    width: 460px;
}
.second-section .col2{
    order: -1;
}
.fourth-section {
    height: 1040px;
}
.fourth-section > .box-green {
    width: 1240px;
}

/* Footer */
footer {
    padding-top: 5px;
}
.container {
    width: 1200px;
    margin: auto;
    margin-bottom: 40px
}
.col-left {
    width: 370px;
}
.col-right {
    width: calc(100% - 370px);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.footer-top {
    border-bottom: 2px solid #d7d7d8;
}
.nav-bottom{
    width: 1200px;
    margin: auto;
    margin-top: 30px;
    display: flex;
    padding: 20px 0;
    justify-content: space-between;
}
.logo-bottom, .button-bottom {
    padding: 10px;
}