/* Reset */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* Debug */
.debug header .top-menu > *,
.debug header .jumbotron .content,
.debug main section .row > div,
.debug main section .row-big > div,
.debug footer .row > div {
    border: 2px dashed black;
}
.debug footer .row .col1 . col {
    border: 2px dashed white;
}
.debug header .jumbotron .content {
    height: 415px;
}
.debug main section .row {
    height: 525px;
}
.debug main section .row-big .col-full {
    height: 940px;
}
.debug .footer-top .row {
    height: 600px;
}
.debug footer .footer-bottom .btn {
    background-color: #ffb6c1;
    border: 1px dashed black;
}
.debug .container.medium{
    background-color: #ee82ee;  
}

/* Common */
.container {
    margin: 0 auto;
}
.container.big {
    max-width: 1250px;
}
.container.medium {
    max-width: 950px;

}
.row,
.row-big {
    display: flex;
}

/* Header */
header .topbar{
    background-color:  #add8e6;
    padding: 15px;
}
header .top-menu {
    background-color: #daa520;
    display: flex;
    align-items: center;
}
header .top-menu > * {
    padding: 10px;
}
header #logo {
    display: block;
}
header .top-menu .header-logo,
header .top-menu .header-login {
    width: 20%;
}
header .top-menu .header-link {
    width: 60%;
    text-align: center;
}
header .top-menu .header-login {
    text-align: right;
}
header .jumbotron {
    background-color: #00008b;
    padding: 50px;
}

/* Main */
main section {
    padding: 50px;
}
main section:nth-child(even) {
    background-color: #d3d3d3;
}
main section .row,
main section .row-big {
    display: flex;
}
main section .row .col1 {
    background-color: #1e90ff;
    width: 60%;
}
main section .row .col2 {
    background-color: #ffc0cb;
    width: 40%;
}
main section .row-big .col-full {
    background-color: #228b22;
    flex-grow: 1;
}

/* Footer */
footer {
    background-color: #23272a;
    padding-top: 10px;
}
footer .footer-top {
    padding-bottom: 40px;
    border-bottom: 1px solid #d7d7d8;
}
footer .footer-top .col2 {
    background-color: #f08080;
    width: 30%;
}
footer .footer-top .col1 {
    background-color: #20b2aa;
    width: 70%;
    display: flex;
}
footer .footer-top .col1 .col {
    flex-grow: 1;
}
footer .footer-bottom .row {
    justify-content: space-between;
    display: flex;
    background-color: #20b2aa;
    margin-top: 20px;
    padding: 15px 0;
}
  
footer .footer-bottom .btn {
    padding: 10px;
}
